.parcel-moving-form-inputs {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   padding: 20px 10px;
   background-image: linear-gradient(
      142deg,
      rgba(255, 255, 255, 1) 38%,
      rgb(255 255 255 / 24%) 68%
   );
   background-repeat: no-repeat;
   border: 1px solid;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 18px 25px 18px;
   position: relative;
   backdrop-filter: blur(6px);
   background-color: rgba(255, 255, 255, 0.3);
   -webkit-backdrop-filter: blur(6px);
}
.parcel-moving-form-inputs input {
  height: 38px;
  border-radius: 5px;
  border: 1px #a0a0a0 solid;
  padding: 12px 7px;
  font-size: 16px;
}

button#goto-button {
   background: #ff5620;
   border: none;
   padding: 12px 12px;
   color: white;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 700;
}
